@import "tailwindcss";

@theme {
  --font-sans: "Clash Grotesk", system-ui, sans-serif;
  --color-primary-dark: #010c19;
  --color-primary: #01153e;
  --color-primary-light: #052261;
  --color-light: #e0e9f5;
}

@layer base {
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

/* Minimal utilities */
@layer utilities {
  @keyframes ripple {
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(8);
    }
  }
  .btn-icon {
    @apply rounded-full p-3;
  }
}
